<launch>

  <node pkg="tf" type="static_transform_publisher" name="static_camera_frame_pub" args="1 0 0 0 0 0 1 static_stereo_cam_left camera2 100" />

  <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" ns="stereo" >

    <param name="prefilter_size" value="9" />
    <param name="prefilter_cap" value="31" />
    <param name="correlation_window_size" value="9" />
    <param name="min_disparity" value="0" />
    <param name="disparity_range" value="64" />
    <param name="uniqueness_ratio" value="15" />
    <param name="texture_threshold" value="500" />
    <param name="speckle_size" value="30" />
    <param name="speckle_range" value="4" />

  </node>

</launch>
