<launch>

    <arg name="device" default="/dev/video1"/>
    <arg name="width" default="640"/>
    <arg name="height" default="480"/>
    <arg name="fps" default="30"/>

    <node pkg="uvc_camera_leopard" type="uvc_camera_node" name="uvc_camera_node" output="screen">
        <param name="device" value="$(arg device)"/>
        <param name="width" value="$(arg width)"/>
        <param name="height" value="$(arg height)"/>
        <param name="fps" value="$(arg fps)"/>

    </node>

</launch>
